.Rproj.user
.Rhistory
.RData
.Ruserdata
gurobi-pyhon-egitim.html
gurobi-pyhon-egitim.pptx
gurobi-pyhon-egitim.qmd
gurobi-pyhon-egitim_files/libs/bootstrap/bootstrap-icons.css
gurobi-pyhon-egitim_files/libs/bootstrap/bootstrap-icons.woff
gurobi-pyhon-egitim_files/libs/bootstrap/bootstrap.min.css
gurobi-pyhon-egitim_files/libs/bootstrap/bootstrap.min.js
gurobi-pyhon-egitim_files/libs/clipboard/clipboard.min.js
gurobi-pyhon-egitim_files/libs/quarto-html/anchor.min.js
gurobi-pyhon-egitim_files/libs/quarto-html/popper.min.js
gurobi-pyhon-egitim_files/libs/quarto-html/quarto-syntax-highlighting.css
gurobi-pyhon-egitim_files/libs/quarto-html/quarto.js
gurobi-pyhon-egitim_files/libs/quarto-html/tippy.css
gurobi-pyhon-egitim_files/libs/quarto-html/tippy.umd.min.js
gurobi-pyhon-egitim.qmd
gurobi-pyhon-egitim.qmd
